/* Estilo global */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #F0D890; /* Amarelo claro */
}

.header-bg {
    background-image: url('imgs/pexels-horizon-content-3762075.jpg'); /* Substitua 'seu_fundo.jpg' pelo caminho da sua imagem de fundo */
    background-size: cover;
    background-position: center;
    color: #fff; /* Texto branco */
    padding: 50px 0;
    text-align: center;
}

.inicio_img{
    border-radius: 15px;
}
header {
    color: #fff; /* Texto branco */
    padding: 20px 0;
    margin-bottom: 20px;
    text-align: center;
}

nav ul {
    list-style: none;
}

nav ul li {
    display: inline;
    margin-right: 20px;
}

.link_nav:hover{
    color: rgb(146, 144, 144);
}

/* Estilo para o botão de finalizar compra */
#checkout-button {
    background-color: #D10606; /* Vermelho escuro */
    color: #fff; /* Texto branco */
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    font-weight: bold;
    display: block;
    margin-top: 20px;
}

/* Estilo para hover do botão de finalizar compra */
#checkout-button:hover {
    background-color: #ecb205; /* Amarelo ao passar o mouse */
    color: #fff; /* Texto branco ao passar o mouse */
}

nav a {
    text-decoration: none;
    color: #fff; /* Texto branco */
    font-weight: bold;
}

/* Estilo para as seções */
.home {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: 20px auto;
    padding: 20px;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2); /* Sutil sombra */
}

.section-content {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 0 20px;
    text-align: center;
}

.section-content img {
    max-width: 300px;
    border-radius: 5px;
}

.section-content h2 {
    color: #D10606; /* Vermelho escuro para títulos de seção */
    margin: 10px 0;
}

.section-content p {
    font-size: 18px;
    line-height: 1.5;
    max-width: 80%;
}

section {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    margin-bottom: 20px;
}

/* Estilos específicos para as seções */
.menu ul {
    list-style: none;
}

.menu li {
    border-bottom: 1px solid #ddd;
    padding: 10px 0;
    display: flex;
    align-items: center;
}

.menu img {
    max-width: 100px;
    margin-right: 20px;
    border-radius: 5px;
}

.menu h3 {
    margin: 0;
    color: #D10606; /* Vermelho escuro para títulos de seção */
}

.menu span {
    color: #9C0606; /* Vermelho mais escuro para preços */
    font-weight: bold;
}

.cart ul {
    list-style: none;
    padding: 0;
}

.cart li {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 10px;
}

.cart-button {
    background-color: #D10606; /* Vermelho escuro */
    color: #fff;
    border: none;
    padding: 5px 10px;
    border-radius: 5px;
    cursor: pointer;
    font-weight: bold;
}

.cart-button.delete {
    background-color: #660000; /* Vermelho mais escuro para botão de exclusão */
}

.cart-button.delete:hover{
    background-color: #ecb205 ;
    color: white;
}

#cart-items {
    padding: 0;
}

#cart-total {
    font-weight: bold;
    color: #D10606; /* Vermelho escuro para o total do carrinho */
}

/* Estilo para o botão de finalizar compra */
#checkout-button {
    background-color: #D10606; /* Vermelho escuro */
    color: #fff;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
}

/* Estilo dos footers */
#footer_contato {
    background-color: #D10606; /* Vermelho escuro para o rodapé */
    color: #fff;
    text-align: center;
    padding: 10px 0;
    margin-top: 311px;
}
#footer_sobre_nos{
    background-color: #D10606; /* Vermelho escuro para o rodapé */
    color: #fff;
    text-align: center;
    padding: 10px 0;
    margin-top: 385px;
}
#footer_index{
    background-color: #D10606; /* Vermelho escuro para o rodapé */
    color: #fff;
    text-align: center;
    padding: 10px 0;
    margin-top: 30px;
}
#footer_menu{
    background-color: #D10606; /* Vermelho escuro para o rodapé */
    color: #fff;
    text-align: center;
    padding: 10px 0;
    margin-top: 30px;
}